@model CompanyInputModel

@{
    ViewData["Title"] = "Register Company";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h4 class="heading-margin-h4 text-center">Make the most of your professional community</h4>
            <h6 class="heading-margin-h6 text-center">Good company profile helps you find the right candidates</h6>
        </div>
        <div class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name" class="required"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Founded" class="required"></label>
                    <input asp-for="Founded" class="form-control" placeholder="@DateTime.UtcNow.Year">
                    <span asp-validation-for="Founded" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Overview" class="required"></label>
                    <textarea asp-for="Overview" class="form-control" rows="3" placeholder="TODO: Something here"></textarea>
                    <span asp-validation-for="Overview" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="required">Category</label>
                    <select asp-for="CategoryId" class="form-control">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Value</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IndustryId" class="required">Industry</label>
                    <select asp-for="IndustryId" class="form-control">
                        @foreach (var industry in Model.Industries)
                        {
                            <option value="@industry.Id">@industry.Value</option>
                        }
                    </select>
                    <span asp-validation-for="IndustryId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LogoUrl"></label>
                    <input asp-for="LogoUrl" class="form-control" placeholder="Your logo URL here...">
                    <span asp-validation-for="LogoUrl" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WebsiteUrl"></label>
                    <input asp-for="WebsiteUrl" class="form-control" placeholder="Your website URL here...">
                    <span asp-validation-for="WebsiteUrl" class="small text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label asp-for="Address.Country" class="required"></label>
                        <input asp-for="Address.Country" class="form-control" placeholder="England, USA...">
                        <span asp-validation-for="Address.Country" class="small text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Address.City" class="required"></label>
                        <input asp-for="Address.City" class="form-control" placeholder="London, New York...">
                        <span asp-validation-for="Address.City" class="small text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address.AddressText" class="required"></label>
                    <input asp-for="Address.AddressText" class="form-control" placeholder="Street, apartment, studio, or floor...">
                    <span asp-validation-for="Address.AddressText" class="small text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Save" />
            </form>
        </div>
    </div>
</div>
