@model CompaniesQueryModel

@{
    ViewBag.Title = "Companies";
}

<!-- Filter, Sort and Search -->
<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Country"></label>
            <select asp-for="Country" class="form-control shadow">
                <option value="">&#10150; All</option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country">&#9992; @country</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="IndustryId"></label>
            <select asp-for="IndustryId" class="form-control shadow">
                <option value="">&#10150; All</option>
                @foreach (var industry in Model.Industries)
                {
                    <option value="@industry.Id">&#9874; @industry.Value</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control shadow">
                    <option value="0" selected>&bull; Date created</option>
                    <option value="1">&bull; Year of establishment</option>
                    <option value="2">&bull; Company name</option>
                    <option value="3">&bull; Employees count</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="form-group offset-4 col-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control shadow" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-outline-primary btn-rounded btn-md shadow" type="submit">Search</button>
    </div>
</form>

<hr />

<!-- Body -->
@if (!Model.Companies.Any())
{
    <h2 class="text-center mt-4"> &#x1F62D;</h2>
    <h3 class="text-center mb-5">No companies found!</h3>
}
else
{
    <!-- Pagination -->
    <partial name="_CompaniesPaginationPartial" model="@Model" />

    <div class="row">
        @foreach (var company in Model.Companies)
        {
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card bg-light mb-4 shadow" style="max-width: 18rem;">
                    <div class="card-header">
                        <div>
                            <a asp-action="Details" asp-controller="Companies" asp-route-id="@company.Id">
                                @if (company.LogoUrl != null)
                                {
                                    <img class="card-img-top rounded-circle mb-2 img-thumbnail shadow" src="@company.LogoUrl" alt="@company.Name - Logo">
                                }
                                else
                                {
                                    <img class="card-img-top rounded-circle mb-2 img-thumbnail shadow" src="~/default pictures/Company Logo.jpg" alt="@company.Name - Logo">
                                }
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center mb-2"><b>@company.Name</b></h5>
                        <p class="card-text text-center mb-3"><i>@company.CategoryName</i></p>
                        <p class="card-text mb-2"><b>Industry:</b> @company.IndustryName</p>
                        <p class="card-text mb-2"><b>Location:</b> @company.City, @company.Country</p>
                        <p class="card-text mb-2"><b>Founded:</b> @company.Founded</p>
                        <a asp-action="Details"
                           asp-controller="Companies"
                           asp-route-id="@company.Id"
                           asp-route-information="@company.CompanyInformation()" class="btn btn-outline-primary shadow">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Pagination -->
    <partial name="_CompaniesPaginationPartial" model="@Model" />
}

<hr />