@model ProfileServiceModel

@{ ViewBag.Title = "Profile"; }

<link href="~/css/profileView.css" rel="stylesheet" />

<div class="row py-4">
    <div class="col-xl-10 col-md-10 col-sm-12 mx-auto">
        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-secondary">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3">
                        <img src="@Model.ProfileImagePath" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        @if (Model.CurrentLoggedUser == Model.UserId)
                        {
                               <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-dark btn-sm btn-block">Edit</a> 
                        }
                        else
                        {
                            if (Model.FriendShip != null)
                            {
                                if (!Model.FriendShip.IsAccepted && Model.FriendShip.ResponderId == Model.CurrentLoggedUser)
                                {
                                     <a class="btn btn-primary btn-sm btn-block" asp-controller="Friendships" asp-action="Accept" asp-route-profileUserId="@Model.UserId">Accept the request</a> 
                                }
                                else if (Model.FriendShip.IsAccepted)
                                {
                                <a class="btn btn-info btn-sm btn-block" asp-controller="Friendships" asp-action="Remove" asp-route-profileUserId="@Model.UserId">Remove from friends</a> 
                                }
                            }
                            else
                            {
                            <a class="btn btn-success btn-sm btn-block" asp-controller="Friendships" asp-action="Add" asp-route-profileUserId="@Model.UserId">Add to friends</a>
                            }
                        }
                    </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">@Model.FullName</h4>
                        <p class="small mb-2">@Model.City, @Model.Country</p>
                        @if (Model.JobTitle != null)
                        {
                            <p class="small mt-0 mb-0"><b>Job:</b> @Model.JobTitle</p>
                            }
                        @if (Model.CompanyName != null)
                        {
                            <p class="small"><b>Company:</b> @Model.CompanyName</p>
                          }
                    </div>
                </div>
            </div>
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">@Model.Friends</h5><small class="text-muted"> <i class="fa fa-user-circle-o mr-1"></i>Connections</small>
                    </li>
                </ul>
            </div>

            <!-- Profile body -->
            <div class="card-body">
                <div id="accordion">
                    <div class="card mb-4">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5><b>About</b></h5>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                @if (Model.About != null)
                                {
                    @Model.About}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="accordion">
                    <div class="card mb-4">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5><b>Experience</b></h5>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                @if (Model.Experience != null)
                                {
                    @Model.Experience}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="accordion">
                    <div class="card mb-4">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5><b>Education</b></h5>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                @if (Model.Education != null)
                                {
                    @Model.Education}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End profile widget -->
        </div>
    </div>
</div>
