@model JobsQueryModel

@{
    ViewBag.Title = "Jobs";
}

<!-- Filter, Sort and Search -->
<form method="get">
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Country"></label>
            <select asp-for="Country" class="form-control shadow">
                <option value="">&#10150; All</option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country">&#9992; @country</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="EmploymentTypeId"></label>
            <select asp-for="EmploymentTypeId" class="form-control shadow">
                <option value="">&#10150; All</option>
                @foreach (var employmentType in Model.EmploymentTypes)
                {
                    <option value="@employmentType.Id"> @employmentType.Value</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control shadow">
                    <option value="0" selected>&bull; Date created</option>
                    <option value="1">&bull; Salary</option>
                    <option value="2">&bull; Job title</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="form-group offset-4 col-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control shadow" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-outline-primary btn-rounded btn-md shadow" type="submit">Search</button>
    </div>
</form>

<hr />

<!-- Body -->
@if (!Model.Jobs.Any())
{
    <h3 class="text-center mt-5 mb-5">No jobs found by the given criteria!</h3>
}
else
{
    if (Model.CompanyId > 0 && Model.CurrentPage == 1)
    {
        <h3 class="text-center mt-3 mb-5">@Model.TotalJobs @(Model.TotalJobs == 1 ? "job" : "jobs") found for @Model.Jobs.Select(j => j.CompanyName).FirstOrDefault()</h3>
    }

    <!-- Pagination -->
    <partial name="_JobsPaginationPartial" model="@Model" />

    <!-- All jobs -->
    <partial name="_JobsPartial" model="@Model.Jobs" />

    <!-- Pagination -->
    <partial name="_JobsPaginationPartial" model="@Model" />
}

<hr />