@model JobDetailsServiceModel

@{
    ViewBag.Title = $"{Model.JobTitle} | {Model.CompanyName}";
}

<div class="offset-lg-2 col-lg-8">
    <div class="bg-white shadow rounded overflow-hidden">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <div class="mb-2">
                        @if (Model.CompanyLogoUrl != null)
                        {
                            <img class="rounded-circle mb-2 img-thumbnail shadow" width="100" height="100" src="@Model.CompanyLogoUrl" alt="@Model.CompanyName - Logo">
                        }
                        else
                        {
                            <img class="rounded-circle mb-2 img-thumbnail shadow" width="100" height="100" src="~/default pictures/Company Logo.jpg" alt="@Model.CompanyName - Logo">
                        }
                    </div>
                    <h4 class="card-title mt-1 mb-2"><b>@Model.JobTitle</b></h4>
                    <h6 class="text-dark"><a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.CompanyId">@Model.CompanyName</a> &bull; @Model.City, @Model.Country &bull; <span class="text-info">@Model.RelativeTime</span></h6>
                    <h6 class="card-text mt-4 mb-3">&#x1F4BC; @Model.EmploymentType</h6>
                    <h6 class="card-text mb-3">&#x1F3E2; @Model.CompanyCategory &bull; @Model.CompanyIndustry</h6>
                    @if (Model.AddressText != null)
                    {
                        <h6 class="card-text mb-3">&#x1F5FA; @Model.AddressText </h6>
                    }
                    @if (Model.SalaryRangeFrom != null)
                    {
                        <p><img alt="salary icon" src="~/default pictures/salary.png" /> @Model.SalaryRangeFrom @(Model.SalaryRangeTo == null ? string.Empty : $" - {Model.SalaryRangeTo}")</p>
                    }
                    @if (!User.IsAdmin())
                    {
                        <a asp-controller="Applies" asp-action="Add" asp-route-jobId="@Model.Id" class="btn btn-outline-warning m-2">
                            <b>Apply</b>
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            <div id="accordion">
                <div class="card mb-4">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h5><b>Job description</b></h5>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            @Model.Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <div class="text-center">
                <h5 class="card-text mt-2 mb-4"><b><u>Recruiter details</u></b></h5>
                <p class="card-text mb-2">&#x1F471; <b><a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.UserId">@Model.RecruiterFullName</a></b></p>
                <p class="card-text mb-2">&#9993; <b><a href="#">@Model.RecruiterEmail</a></b></p>
                <p class="card-text mb-2">&#x260E; <b>@Model.RecruiterPhoneNumber</b></p>
            </div>
        </div>
    </div>
</div>